<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Honeytoken Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"></head>
    <link rel="icon" href="{{ url_for('static', filename='honey.ico') }}">
<body>
    <main class="root">
        <div id="saludo">
            <h1>Hola Rodo!</h1>
            <p id="no-hacking-please">(por favor no intentes hackear la página)</p>
        </div>
        
        <div class="token-generator">
            <h3>Acá vas a elegir el tipo de canary token:</h3>
            <select id="tokenSelector">
                <option>pdf</option>
                <option>excel</option>
                <option>word</option>
                <option>epub</option>
                <option>mysql</option>
                <option>qr</option>
            </select>
    
            <h3>Contenido del token:</h3>
            <textarea id="tokenContent"></textarea>
    
            <button onclick="generar()">Generame el token tiger</button>
        </div>
    </main>
</body>
<script>
    function generar() {
        const select = document.getElementById("tokenSelector")
        const textarea = document.getElementById("tokenContent")
        
        fetch("/nuevoToken", {
            method: "post",
            body: JSON.stringify({ tipo: select.value, contenido: textarea.value }),
            headers: {
                "Content-Type": "application/json",
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
        }).then(resp => resp.status === 200 ? resp.blob() : Promise.reject('something went wrong'))
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                const fileExt = getExt(select.value);
                a.style.display = 'none';
                a.href = url;
                // the filename you want
                a.download = `canary-token.${fileExt}`;
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            })
            .catch(() => alert('Oh no!'));
    }

    const evtSource = new EventSource("listen");
    evtSource.onmessage = (e) => {
        alert("Se activó el token con el siguiente contenido: \n\n" + e.data)
    };

    function getExt(tipo) {
        switch (tipo) {
            case 'epub':
            case 'pdf':
                return tipo
                break;
            case 'word':
                return 'doc'//?
                break;
            case 'excel':
                return 'xlsx'
                break;
            case 'mysql':
                return 'txt'//?
                break;
            case 'qr':
                return 'png'
            default:
                throw new Error('no hackees la pagina')
                break;
        }
    }
</script>

</html>